@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: local("Arial"), local("ArialMT"), url("../../assets/fonts/Arial.woff2") format("woff2"), url("../../assets/fonts/Arial.woff") format("woff");
}

@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  src: local("Arial Italic"), local("Arial-Italic"), url("../../assets/fonts/Arial-Italic.woff2") format("woff2"), url("../../assets/fonts/Arial-Italic.woff") format("woff");
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia"), url("../../assets/fonts/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.page {
  font-family: "Georgia", serif;
  font-size: 10px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
}

.page--overlay {
  overflow: hidden;
}

.page__wrapper {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.main-header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  width: 100%;
  z-index: 1;
}

.main-header--overlay {
  background-color: transparent;
}

.main-header--homepage {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-height: 180px;
  background-color: transparent;
}

@media (max-width: 1279px) {
  .main-header {
    min-width: 320px;
  }
  .main-header--homepage {
    min-height: 120px;
  }
}

.main-header__wrapper {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .main-header__wrapper {
    width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .main-header__wrapper {
    padding: 0 10px;
  }
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .main-navigation__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    z-index: 3;
  }
}

.main-navigation__logo {
  display: inline-block;
  text-decoration: none;
  outline: none;
  color: inherit;
}

.main-header--homepage .main-navigation__logo {
  cursor: default;
}

.main-navigation--burger .main-navigation__logo {
  display: none;
}

.main-navigation__menu .main-navigation__logo {
  display: none;
}

@media (max-width: 767px) {
  .main-navigation__menu .main-navigation__logo {
    display: block;
  }
}

.main-navigation__logo-title {
  font-family: "Georgia", serif;
  font-size: 3.2rem;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin: 0;
  color: #545454;
  text-align: center;
}

.main-navigation__logo--light .main-navigation__logo-title {
  color: #F1CDB3;
}

.main-navigation__logo-subtitle {
  font-family: "Georgia", serif;
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: "Arial", sans-serif;
  display: block;
  padding: 9px 0 0 2px;
  color: #292929;
}

.main-navigation__logo--light .main-navigation__logo-subtitle {
  color: #FFFFFF;
}

.main-navigation__button {
  display: none;
  outline: none;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

@media (max-width: 767px) {
  .main-navigation__button {
    display: block;
    margin-right: 43px;
    margin-top: 2px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

.main-navigation__button--homepage {
  margin-top: 3px;
}

.main-navigation--burger .main-navigation__button {
  margin-left: auto;
  -webkit-transform: rotate(90deg) translate(-2px, 2px);
          transform: rotate(90deg) translate(-2px, 2px);
}

.main-navigation__button-icon {
  stroke: #F1CDB3;
}

.main-navigation__button-icon--dark {
  stroke: #000000;
}

.main-navigation--burger .main-navigation__button-icon {
  stroke: #F1CDB3;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2px;
  padding: 1px 0 2px;
}

@media (max-width: 767px) {
  .main-navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 158px;
    margin-left: -6px;
  }
}

.main-navigation__link {
  display: inline-block;
  text-decoration: none;
  outline: none;
  color: inherit;
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: normal;
  font-family: "Arial", sans-serif;
  margin-left: 35px;
  color: #545454;
}

.main-navigation__link--current {
  border-bottom: 3px solid #F1CDB3;
  color: #292929;
}

.main-navigation__link:hover, .main-navigation__link:focus {
  color: #292929;
}

.main-navigation--homepage .main-navigation__link,
.main-navigation--burger .main-navigation__link {
  color: #CDCDCD;
}

.main-navigation--homepage .main-navigation__link--current,
.main-navigation--burger .main-navigation__link--current {
  color: #FAFAFA;
}

.main-navigation--homepage .main-navigation__link:hover, .main-navigation--homepage .main-navigation__link:focus,
.main-navigation--burger .main-navigation__link:hover,
.main-navigation--burger .main-navigation__link:focus {
  color: #FAFAFA;
}

.main-navigation__item:nth-child(1n + 3) .main-navigation__link {
  cursor: default;
}

.main-navigation__item:nth-child(1n + 3) .main-navigation__link:hover, .main-navigation__item:nth-child(1n + 3) .main-navigation__link:focus {
  color: #545454;
}

.main-navigation--homepage .main-navigation__item:nth-child(1n + 3) .main-navigation__link:hover, .main-navigation--homepage .main-navigation__item:nth-child(1n + 3) .main-navigation__link:focus,
.main-navigation--burger .main-navigation__item:nth-child(1n + 3) .main-navigation__link:hover,
.main-navigation--burger .main-navigation__item:nth-child(1n + 3) .main-navigation__link:focus {
  color: #CDCDCD;
}

@media (max-width: 767px) {
  .main-navigation__link {
    font-family: "Georgia", serif;
    font-size: 3.2rem;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: normal;
    margin-bottom: 40px;
    font-family: "Arial", sans-serif;
    color: #CDCDCD;
  }
  .main-navigation__link--current {
    color: #FAFAFA;
  }
}

.main-navigation__menu {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media (max-width: 767px) {
  .main-navigation__menu {
    position: absolute;
    top: 0;
    right: -320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 320px;
    height: 823px;
    z-index: 2;
    padding: 31px 10px;
    background-color: #292929;
  }
}

.main-navigation--burger .main-navigation__menu {
  -webkit-transform: translateX(-320px);
          transform: translateX(-320px);
}

.button {
  font-family: "Georgia", serif;
  font-size: 1.7rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.06em;
  display: inline-block;
  text-decoration: none;
  outline: none;
  color: inherit;
  padding: 15px 45px;
  color: #292929;
  background-color: #F1CDB3;
  border-radius: 10rem;
}

.button--light {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 2px #F1CDB3;
          box-shadow: inset 0 0 0 2px #F1CDB3;
}

.button:hover, .button:focus {
  background-color: #FDDCC4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1279px) {
  .main {
    min-width: 320px;
  }
}

.main__intro {
  padding-top: 180px;
}

@media (max-width: 1279px) {
  .main__intro {
    padding-top: 151px;
  }
}

.main__pets {
  margin-top: 120px;
}

.pets {
  padding: 81px 0 100px;
  background-color: #F6F6F6;
}

@media (max-width: 1279px) {
  .pets {
    padding: 81px 0 77px;
  }
}

@media (max-width: 767px) {
  .pets {
    margin-top: 0;
    padding: 162px 0 42px;
  }
}

@media (max-width: 1279px) {
  .pets--homepage {
    padding: 81px 0 100px;
  }
}

@media (max-width: 767px) {
  .pets--homepage {
    margin: 0;
    padding: 42px 0 42px;
  }
}

.pets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .pets__wrapper {
    width: 100%;
    max-width: 818px;
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .pets__wrapper {
    width: 270px;
    padding: 0;
  }
}

.pets__title {
  font-family: "Georgia", serif;
  font-size: 3.5rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.06em;
  width: 410px;
  margin: 0;
  margin-bottom: 59px;
  padding-left: 2px;
  text-align: center;
  color: #545454;
}

@media (max-width: 1279px) {
  .pets__title {
    margin-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .pets__title {
    font-family: "Georgia", serif;
    font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 0.06em;
    margin-bottom: 42px;
    width: 300px;
  }
}

@media (max-width: 1279px) {
  .pets__title--homepage {
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .pets__title--homepage {
    margin-bottom: 42px;
  }
}

.pets__slider {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .pets__slider {
    margin-bottom: 114px;
  }
}

.pets__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

@media (max-width: 1279px) {
  .pets__list {
    width: 100%;
    padding: 0 64px;
  }
}

@media (max-width: 767px) {
  .pets__list {
    padding: 0;
  }
}

.pets__list--slider {
  margin: 0 105px;
}

@media (max-width: 1279px) {
  .pets__list--slider {
    margin: 0 64px;
    padding: 0;
    width: auto;
  }
}

@media (max-width: 767px) {
  .pets__list--slider {
    margin: 0;
  }
}

.pets__list-item {
  margin-bottom: 30px;
}

@media (max-width: 1279px) {
  .pets__list-item:nth-child(1n + 7) {
    display: none;
  }
}

@media (max-width: 767px) {
  .pets__list-item:nth-child(1n + 4) {
    display: none;
  }
}

.pets__list-item--homepage {
  margin-bottom: 0;
}

@media (max-width: 1279px) {
  .pets__list-item--homepage:nth-child(3) {
    display: none;
  }
}

@media (max-width: 767px) {
  .pets__list-item--homepage:nth-child(2) {
    display: none;
  }
}

.pets__pagination {
  margin-top: 30px;
}

@media (max-width: 1279px) {
  .pets__pagination {
    margin-top: 9px;
  }
}

@media (max-width: 767px) {
  .pets__pagination {
    margin-top: 12px;
  }
}

.pet-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  background-color: #FAFAFA;
}

.pet-card:hover, .pet-card:focus {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}

.pet-card__image {
  margin-bottom: 18px;
}

.pet-card__name {
  font-family: "Georgia", serif;
  font-size: 2rem;
  line-height: 2.3;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin: 0;
  padding-left: 2px;
  margin-bottom: 19px;
  color: #545454;
}

.pet-card__link {
  margin-bottom: 30px;
}

.pagination {
  width: 340px;
}

@media (max-width: 767px) {
  .pagination {
    width: 300px;
  }
}

.pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination__link {
  font-family: "Georgia", serif;
  font-size: 2rem;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: 0.06em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 2px #F1CDB3;
          box-shadow: inset 0 0 0 2px #F1CDB3;
  background-color: transparent;
  color: #292929;
  text-align: center;
}

.pagination__link--current {
  background-color: #F1CDB3;
}

.pagination__link:hover:not(:disabled), .pagination__link:focus:not(:disabled) {
  background-color: #FDDCC4;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}

.pagination__link:active:not(:disabled) {
  background-color: #F1CDB3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination__link:disabled {
  -webkit-box-shadow: inset 0 0 0 2px #CDCDCD;
          box-shadow: inset 0 0 0 2px #CDCDCD;
  color: #CDCDCD;
  cursor: auto;
}

.pagination__link-icon {
  fill: #292929;
}

.pagination__link:disabled .pagination__link-icon {
  fill: #CDCDCD;
}

.pagination__link--prev .pagination__link-icon,
.pagination__link--very-prev .pagination__link-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-footer {
  background: url("../../assets/images/noise-lines-bg.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

@media (max-width: 1279px) {
  .main-footer {
    min-width: 320px;
  }
}

.main-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}

@media (max-width: 1279px) {
  .main-footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60%;
    min-width: 640px;
    padding-top: 14px;
  }
}

@media (max-width: 767px) {
  .main-footer__wrapper {
    width: 100%;
    padding: 0 10px;
    min-width: auto;
  }
}

.main-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-right: 159px;
}

@media (max-width: 1279px) {
  .main-footer__info {
    margin-right: 0;
    margin-bottom: 43px;
  }
}

@media (max-width: 767px) {
  .main-footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 18px;
  }
}

.main-footer__left,
.main-footer__right {
  width: 280px;
  margin-top: 17px;
}

@media (max-width: 767px) {
  .main-footer__left,
  .main-footer__right {
    margin-top: 30px;
    width: 70%;
    min-width: 250px;
  }
}

.main-footer__right {
  width: 302px;
}

@media (max-width: 767px) {
  .main-footer__right {
    width: 70%;
    min-width: 300px;
    margin-top: 20px;
  }
}

.main-footer__right .main-footer__title {
  margin-bottom: 17px;
}

@media (max-width: 767px) {
  .main-footer__right .main-footer__title {
    width: 80%;
    margin: 0 auto 23px;
  }
}

.main-footer__title {
  font-family: "Georgia", serif;
  font-size: 3.5rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 19px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .main-footer__title {
    font-family: "Georgia", serif;
    font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 20px;
  }
}

.main-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer__link {
  display: inline-block;
  text-decoration: none;
  outline: none;
  color: inherit;
  font-family: "Georgia", serif;
  font-size: 2rem;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: 0.06em;
  padding: 5px 0 5px 60px;
  margin: 20px 0;
  color: #F1CDB3;
}

@media (max-width: 767px) {
  .main-footer__link {
    margin-bottom: 19px;
  }
}

.main-footer__link--email {
  background: url("../../assets/icons/icon-email.svg") 0 0 no-repeat;
}

.main-footer__link--phone {
  background: url("../../assets/icons/icon-phone.svg") 0 0 no-repeat;
}

@media (max-width: 767px) {
  .main-footer__link--phone {
    margin-left: 6px;
  }
}

.main-footer__link--marker {
  padding: 5px 0 5px 40px;
  background: url("../../assets/icons/icon-marker.svg") 0 50% no-repeat;
  margin: 12px 0;
}

@media (max-width: 767px) {
  .main-footer__link--marker {
    padding-left: 41px;
    margin-bottom: 22px;
  }
}

.main-footer__link:focus {
  color: #FAFAFA;
}

.main-footer__image {
  margin: 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 767px) {
  .main-footer__image {
    width: 260px;
  }
}

.overlay {
  display: none;
}

.overlay__show {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  cursor: pointer;
}
/*# sourceMappingURL=pets.css.map */