@import '@/assets/stylesheets/utils/variables.scss';

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $main-color--darkest;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: $main-color--lightest;

  @media (max-width: $tablet-width) {
    min-height: 100vh;
    height: 100%;
  }
}
