@import '@/assets/stylesheets/utils/variables.scss';

.chart {
  grid-area: c;

  @media (max-width: $tablet-width) {
    min-height: 300px;
  }
}

.grid__element {
  position: relative;
  background: $main-color--darker;
  border: 1px solid $main-color;
  border-radius: 4px;

  &--show {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100vh - 80px - 40px - 40px);
    grid-area: none;
    z-index: 2;
  }

  &--hide {
    display: none;
  }
}
