html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  height: 100vh;
  max-height: 100vh;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  transition: background-image 1s;
  background-size: cover;
  background-repeat: no-repeat;
}

.page__center {
  margin: auto;
}

.slide-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(180deg);
  width: 4rem;
  height: 4rem;
  margin: 0 2rem;
  border-radius: 50%;
  border: 0.4rem solid #ffffff;
  background-color: transparent;
  background: rgba(0, 0, 0, 0.1) url("../assets/images/arrow.svg") 50% 50% no-repeat;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  background-size: 50% 50%;
  cursor: pointer;
  outline: none;
}

.slide-btn:hover {
  transform: translate(-1rem, -50%) rotate(180deg);
  transition: transform 0.3s;
  opacity: 0.8;
}

.slide-btn--next {
  left: auto;
  right: 0;
  transform: translateY(-50%) rotate(0);
}

.slide-btn--next:hover {
  transform: translate(1rem, -50%);
}

.date {
  font-size: 1.8rem;
  text-shadow: 0 0 10px #000000;
}

.city {
  outline: none;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-shadow: 0 0 10px #000000;
}

.time {
  display: flex;
  margin-bottom: 2rem;
  font-size: 8rem;
  text-shadow: 0 0 10px #000000;
}

.time div {
  width: 10.5rem;
  flex-shrink: 0;
}

.time__colon {
  transition: opacity 0.5s;
}

.greeting {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-shadow: 0 0 10px #000000;
}

.greeting__name {
  outline: none;
}

.focus {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  text-shadow: 0 0 10px #000000;
}

.focus__point {
  outline: none;
}

.quote {
  position: relative;
  width: 50%;
  min-width: 288px;
  min-height: 3.75rem;
}

.quote__text {
  font-size: 1.5rem;
  opacity: 0.8;
  transition: opacity 1s;
  text-shadow: 0 0 10px #000000;
}

.quote__text::before,
.quote__text::after {
  display: none;
}

.quote__btn {
  position: absolute;
  bottom: 0;
  right: -3rem;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background: rgba(0, 0, 0, 0.1) url("../assets/images/reload.svg") 50% 50% no-repeat;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  opacity: 0.8;
  cursor: pointer;
  outline: none;
  border: none;
}

.quote__btn:hover {
  transform: rotate(-360deg);
  transition: transform 0.3s;
}

.weather {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 6rem;
  margin-bottom: -3rem;
}

.weather__main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.weather__icon {
  font-size: 3rem;
  text-shadow: 0 0 10px #000000;
}

.weather__temp {
  width: 5rem;
  flex-shrink: 0;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 0 10px #000000;
}

.weather__humidity,
.weather__wind {
  min-width: 10rem;
  align-self: flex-start;
  text-align: left;
  font-size: 1rem;
  text-shadow: 0 0 10px #000000;
}

.error {
  position: absolute;
  font-size: 1.5rem;
  color: #ff6255;
  opacity: 0;
  transition: opacity 1s;
}

@media (max-width: 1279px) {
  html {
    font-size: 12px;
  }

  .quote {
    min-height: 8.8rem;
  }

  .quote__text {
    font-size: 1.75rem;
  }

  .weather__humidity,
  .weather__wind {
    font-size: 1.5rem; 
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .weather__humidity,
  .weather__wind {
    font-size: 1.75rem; 
  }

  .quote__text {
    font-size: 1.75rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }

  .weather {
    align-self: center;
    align-items: center;
    margin-bottom: 0;
  }

  .quote__btn {
    right: -1.5rem;
  }

  .weather__main {
    justify-content: center;
  }

  .weather__humidity,
  .weather__wind {
    align-self: center;
  }

  .slide-btn {
    top: 20%;
    left: 0;
    transform: translateY(-20%) rotate(180deg);
  }
  
  .slide-btn--next {
    left: auto;
    right: 0;
    transform: translateY(-20%) rotate(0);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 8px;
  }

  .weather__temp {
    font-size: 1.75rem;
  }

  .quote__btn {
    right: -1.5rem;
  }
}