// Viewport

$mobile-width-min: 320px;
$mobile-width: 767px;    // 320 - 767
$tablet-width: 1279px;   // 768 - 1279
$desktop-width: 1280px;  // 1280 - ...

// Colors

$black: #000000;

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
