html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #C9D1D9;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0D1117;
}

@media (max-width: 900px) {
  .page {
      min-height: 100vh;
      height: 100%;
  }
}

.header {
  box-sizing: border-box;
  max-width: 2520px;
  width: 100%;
  margin: 0 auto;
  background-color: #161B22;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1024px;
  height: 80px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #161B22;
}

.header__title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 22px;
  color: #C9D1D9;
}

@media (max-width: 900px) {
  .header__title {
      font-size: 28px;
  }

  .header__title--more {
      display: none;
  }
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search__bar {
  width: 277.55px;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 12px;
  padding-right: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #C9D1D9;
  border: 1px solid #30363D;
  border-radius: 4px;
  background-color: #161B22;
  outline: none;
  cursor: pointer;
}

.search__bar::placeholder {
  color: #30363D;
}

.search__bar:hover,
.search__bar:focus {
  border: 1px solid #C9D1D9;
}

.search__reset {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  cursor: pointer;
}

.search__reset-icon {
  fill: #30363D;
}

.search__reset:hover .search__reset-icon {
  fill: #C9D1D9;
}

.search__keyboard {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.search__keyboard-icon {
  width: 40px;
  height: 40px;
  fill: #30363D;
}

.search__keyboard:hover .search__keyboard-icon {
  fill: #C9D1D9;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px - 40px);
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .main {
    height: 100%;
  }
}

.main__wrapper {
  box-sizing: border-box;
  width: calc(100% - 40px);
  height: calc(100vh - 80px - 40px - 40px);
}

@media (max-width: 900px) {
  .main__wrapper {
      height: 100%;
      margin: 20px 0;
  }
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: 1.2fr repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  "l m m m i"
  "l m m m t"
  "l m m m t"
  "l c c c c";
  gap: 20px;
}

@media (max-width: 900px) {
  .grid {
      grid-template-columns: 1fr;
      grid-template-rows: none;
      grid-template-areas:
      "i"
      "t"
      "l"
      "m"
      "c";
      gap: 20px;
  }
}

.grid__element {
  position: relative;
  background: #161B22;
  border: 1px solid #30363D;
  border-radius: 4px;
}

.resize {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding: 6px;
  z-index: 1;
  border-radius: 50%;
  background-color: #161B22;
  border: 1px solid #30363D;
  cursor: pointer;
}

.resize--collapse .resize__icon--expand {
  display: none;
}

.resize--expand .resize__icon--collapse {
  display: none;
}

.resize__icon {
  width: 16px;
  height: 16px;
  fill: #30363D;
}

.resize:hover {
  border: 1px solid #C9D1D9;
}

.resize:hover .resize__icon {
  fill: #C9D1D9;
}

.list {
  grid-area: l;
  display: flex;
  flex-direction: column;
}

.info {
  grid-area: i;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__text,
.info__date {
  margin: 5px;
  font-size: 18px;
  text-align: center;
}

.map {
  grid-area: m;
}

.table {
  grid-area: t;
}

.chart {
  grid-area: c;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.title__text {
  margin: 0;
  text-align: center;
}

.title__arrow {
  width: 0;
  height: 0;
  margin: 0;
  margin: 5px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 10px solid #30363D;
  cursor: pointer;
}

.title__arrow--right {
  transform: rotate(180deg);
}

.title__arrow:hover {
  border-right: 10px solid #C9D1D9;
}

.list__items {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  overflow-y: auto;
}

.list__items::-webkit-scrollbar-track {
background-color: #21262D;
}

.list__items::-webkit-scrollbar {
width: 10px;
background-color: #21262D;
}

.list__items::-webkit-scrollbar-thumb {
background-color: #30363D;
}

.list__item {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
  border-bottom: 1px solid #30363D;
}

.list__item--active {
  background-color: #474f59;
}

.list__item:not(.list__item--active):hover {
  background-color: #21262D;
  cursor: pointer;
}

.list__item-count {
  margin-right: 5px;
  font-weight: bold;
  color: #238636;
}

.list__item-country {
  display: inline-block;
}

.list__item-flag {
  width: 22px;
  height: 22px;
  margin-bottom: -5px;
}

.table__content {
  border-collapse: collapse;
  width: calc(100% - 10px);
  margin: 0 auto;
}

.table__title {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  border: 1px solid #30363D;
}

.table__info {
  padding: 5px;
  font-weight: bold;
  color: #238636;
  border: 1px solid #30363D;
}

.table__row--active {
  background-color: #474f59;
}

.table__row:not(.table__row--active):hover {
  background-color: #21262D;
  cursor: pointer;
}

.footer {
  box-sizing: border-box;
  max-width: 2520px;
  width: 100%;
  margin: auto auto 0;
  background-color: #161B22;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 40px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #161B22;
}

.footer__school {
  display: flex;
  align-items: center;
  width: 95px;
  height: 25px;
  color: #30363D;
  text-decoration: none;
}

.footer__school:hover {
  color: #C9D1D9;
}

.footer__school:hover .footer__school-icon {
  background-color: #C9D1D9;
}

.footer__school-icon {
  width: 65px;
  height: 25px;
  margin-right: 10px;
  border: 1px solid #30363D;
  border-radius: 2px;
  background-color: #30363D;
}

.footer__link {
  margin-left: 20px;
  color: #30363D;
  text-decoration: none;
}

.footer__link:hover {
  color: #C9D1D9;
}

/* разворачивает блок информации на весь экран */
.grid__element--show {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  height: calc(100vh - 80px - 40px - 20px);
  grid-area: none;
  z-index: 2;
}

/* скрывает прочие блоки информации */
.grid__element--hide {
  display: none;
}
