.main-footer {
    background: 
        url("../../assets/images/noise-lines-bg.png"), 
        radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

    @media (max-width: $tablet-width) {
        min-width: $mobile-width-min;
    }
}

.main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;

    @media (max-width: $tablet-width) {
        flex-wrap: wrap;
        width: 60%;
        min-width: 640px;
        padding-top: 14px;
    }

    @media (max-width: $mobile-width) {
        width: 100%;
        padding: 0 10px;
        min-width: auto;
    }
}

.main-footer__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 159px;

    @media (max-width: $tablet-width) {
        margin-right: 0;
        margin-bottom: 43px;
    }

    @media (max-width: $mobile-width) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 18px;
    }
}

.main-footer__left,
.main-footer__right {
    width: 280px;
    margin-top: 17px;

    @media (max-width: $mobile-width) {
        margin-top: 30px;
        width: 70%;
        min-width: 250px;
    }
}

.main-footer__right {
    width: 302px;

    @media (max-width: $mobile-width) {
        width: 70%;
        min-width: 300px;
        margin-top: 20px;
    }

    .main-footer__title {
        margin-bottom: 17px;

        @media (max-width: $mobile-width) {
            width: 80%;
            margin: 0 auto 23px;
        }
    }
}

.main-footer__title {
    @include font(3.5rem, 1.3, 400, 0.06em);
    margin: 0;
    margin-bottom: 19px;
    color: $color-light-xl;

    @media (max-width: $mobile-width) {
        @include font(2.5rem, 1.3, 400, 0.06em);
        text-align: center;
        margin-bottom: 20px;
    }
}

.main-footer__list {
    @include list-reset();
}

.main-footer__item {
    @media (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
    }
}

.main-footer__link {
    @include link-reset();
    @include font(2.0rem, 1.15, 400, 0.06em);
    padding: 5px 0 5px 60px;
    margin: 20px 0;
    color: $color-primary;

    @media (max-width: $mobile-width) {
        margin-bottom: 19px;
    }

    &--email {
        background: url("../../assets/icons/icon-email.svg") 0 0 no-repeat;

        @media (max-width: $mobile-width) {
            align-self: center;
        }
    }

    &--phone {
        background: url("../../assets/icons/icon-phone.svg") 0 0 no-repeat;

        @media (max-width: $mobile-width) {
            align-self: center;
        }
    }

    &--marker {
        padding: 5px 0 5px 40px;
        background: url("../../assets/icons/icon-marker.svg") 0 50% no-repeat;
        margin: 12px 0;

        @media (max-width: $mobile-width) {
            padding-left: 41px;
            margin-bottom: 22px;
        }
    }

    &:focus {
        color: $color-light-s;
    }
}

.main-footer__image {
    margin: 0 auto;
    flex-shrink: 0;

    @media (max-width: $mobile-width) {
        width: 260px;
    }
}