.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation__header {
    @media (max-width: $mobile-width) {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        z-index: 3;
    }
}

.main-navigation__logo {
    @include link-reset();
    
    .main-header--homepage & {
        cursor: default;
    }

    .main-navigation--burger & {
        display: none;
    }

    .main-navigation__menu & {
        display: none;

        @media (max-width: $mobile-width) {
            display: block;
        }
    }
}

.main-navigation__logo-title {
    @include font(3.2rem, 1.1, 400, 0.06em);
    margin: 0;
    color: $color-dark-l;
    text-align: center;

    .main-navigation__logo--light & {
        color: $color-primary;
    }
}

.main-navigation__logo-subtitle {
    @include font(1.3rem, 1.2, 400, 0.1em);
    font-family: "Arial", sans-serif;
    display: block;
    padding: 9px 0 0 2px;
    color: $color-dark-3xl;

    .main-navigation__logo--light & {
        color: $color-light-xl;
    }
}

.main-navigation__button {
    display: none;
    outline: none;
    transition: transform 0.3s;
    cursor: pointer;

    @media (max-width: $mobile-width) {
        display: block;
        margin-right: 43px;
        margin-top: 2px;
        padding: 0;
        border: none;
        background-color: transparent;
    }

    &--homepage {
        margin-top: 3px;
    }

    .main-navigation--burger & {
        margin-left: auto;
        transform: rotate(90deg) translate(-2px, 2px);
    }
}

.main-navigation__button-icon {
    stroke: $color-primary;

    &--dark {
        stroke: $black;
    }

    .main-navigation--burger & {
        stroke: $color-primary;
    }
}

.main-navigation__list {
    @include list-reset();
    display: flex;
    margin-right: 2px;
    padding: 1px 0 2px;

    @media (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 158px;
        margin-left: -6px;
    }
}

.main-navigation__link {
    @include link-reset();
    @include font(1.5rem);
    font-family: "Arial", sans-serif;
    margin-left: 35px;
    color: $color-dark-l;

    &--current {
        border-bottom: 3px solid $color-primary;
        color: $color-dark-3xl;
    }

    &:hover,
    &:focus {
        color: $color-dark-3xl;
    }

    .main-navigation--homepage &,
    .main-navigation--burger & {
        color: $color-dark-s;

        &--current {
            color: $color-light-s;
        }

        &:hover,
        &:focus {
            color: $color-light-s;
        }
    }

    .main-navigation__item:nth-child(1n + 3) & {
        cursor: default;

        &:hover,
        &:focus {
            color: $color-dark-l;
        }
    }

    .main-navigation--homepage .main-navigation__item:nth-child(1n + 3) &,
    .main-navigation--burger .main-navigation__item:nth-child(1n + 3) & {
        &:hover,
        &:focus {
            color: $color-dark-s;
        }
    }

    @media (max-width: $mobile-width) {
        @include font(3.2rem, 1.6);
        margin-bottom: 40px;
        font-family: "Arial", sans-serif;
        color: $color-dark-s;

        &--current {
            color: $color-light-s;
        }
    }
}

.main-navigation__menu {    
    transition: transform 0.3s;

    @media (max-width: $mobile-width) {
        position: absolute;
        top: 0;
        right: -320px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 320px;
        height: 823px;
        z-index: 2;
        padding: 31px 10px;
        background-color: $color-dark-3xl;
    }

    .main-navigation--burger & {
        transform: translateX(-320px);
    }
}