.pagination {
    width: 340px;

    @media (max-width: $mobile-width) {
        width: 300px;
    }
}

.pagination__list {
    @include list-reset();
    display: flex;
    justify-content: space-between;
}

.pagination__link {
    @include font(2rem, 1.15, 400, 0.06em);
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px $color-primary;
    background-color: transparent;
    color: $color-dark-3xl;
    text-align: center;

    &--current {
        background-color: $color-primary;
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
        background-color: $color-primary-light;
        box-shadow: none;
        border: none;
        outline: none;
    }

    &:active:not(:disabled) {
        background-color: $color-primary;
        box-shadow: none;
    }

    &:disabled {
        box-shadow: inset 0 0 0 2px $color-dark-s;
        color: $color-dark-s;
        cursor: auto;
    }
}

.pagination__link-icon {
    fill: $color-dark-3xl;

    .pagination__link:disabled & {
        fill: $color-dark-s;
    }

    .pagination__link--prev &,
    .pagination__link--very-prev & {
        transform: rotate(180deg);
    }
}