.pets {
    margin-top: 0;
    padding: 201px 0 100px;
    background-color: $color-light-l;

    @media (max-width: $tablet-width) {
        margin-top: 0;
        padding: 201px 0 77px;
    }

    @media (max-width: $mobile-width) {
        padding: 162px 0 42px;
    }

    &--homepage {
        padding: 81px 0 100px;

        @media (max-width: $tablet-width) {
            padding: 81px 0 100px;
        }

        @media (max-width: $mobile-width) {
            margin: 0;
            padding: 42px 0 42px;
        }
    }
}

.pets__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 0 auto;

    @media (max-width: $tablet-width) {
        width: 100%;
        max-width: 818px;
        padding: 0 30px;
    }

    @media (max-width: $mobile-width) {
        width: 270px;
        padding: 0;
    }
}

.pets__title {
    @include font(3.5rem, 1.3, 400, 0.06em);
    width: 410px;
    margin: 0;
    margin-bottom: 59px;
    padding-left: 2px;
    text-align: center;
    color: $color-dark-l;

    @media (max-width: $tablet-width) {
        margin-bottom: 29px;
    }

    @media (max-width: $mobile-width) {
        @include font(2.5rem, 1.3, 400, 0.06em);
        margin-bottom: 42px;
        width: 300px;
    }

    &--homepage {
        @media (max-width: $tablet-width) {
            margin-bottom: 59px;
        }

        @media (max-width: $mobile-width) {
            margin-bottom: 42px;
        }
    }
}

.pets__slider {
    align-self: stretch;
    margin-bottom: 60px;

    @media (max-width: $mobile-width) {
        margin-bottom: 114px;
    }
}

.pets__list {
    @include list-reset();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

    @media (max-width: $tablet-width) {
        width: 100%;
        padding: 0 64px;
    }

    @media (max-width: $mobile-width) {
        padding: 0;
    }

    &--slider {
        @media (max-width: $tablet-width) {
            width: 100%;
            padding: 0;
        }
    }
}

.pets__list-item {
    margin-bottom: 30px;

    @media (max-width: $tablet-width) {
        &:nth-child(1n + 7) {
            display: none; 
        }
    }

    @media (max-width: $mobile-width) {
        &:nth-child(1n + 4) {
            display: none; 
        }
    }

    &--homepage {
        margin-bottom: 0;
    }
}

.pets__pagination {
    margin-top: 30px;

    @media (max-width: $tablet-width) {
        margin-top: 9px;
    }

    @media (max-width: $mobile-width) {
        margin-top: 12px;
    }
}