html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  height: 100vh;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

.date {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.time {
  display: flex;
  margin-bottom: 2rem;
  font-size: 8rem;
}

.time div {
  width: 10.5rem;
  flex-shrink: 0;
}

.time__colon {
  transition: opacity 0.5s;
}

.greeting {
  margin-bottom: 4rem;
  font-size: 2rem;
}

.greeting {
  display: flex;
  justify-content: center;
}

.greeting p {
  outline: none;
}

.focus {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.focus__point {
  outline: none;
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
