html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.output {
  display: block;
  width: 90vw;
  height: 40vh;
  margin: 2rem auto;
  padding: 2rem;
  font-size: 2rem;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  border: 2px solid #e5e5e5;
  border-radius: 0.5rem;
  outline: none;
  resize: none;
}

.output::placeholder {
  color:  #c4c4c4;
  opacity: 1;
}

.output:hover {
  border: 2px solid #c4c4c4;
}

.output:active,
.output:focus {
  border: 2px solid #283645;
}

.keyboard {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

.keyboard__row {
  display: flex;
  width: 82.5rem;
  margin-bottom: 0.75rem;
  height: 5rem;
}

.keyboard__key {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5rem;
  height: 100%;
  margin: 0.25rem;
  padding: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
  color: #eeeeee;
  background: #333333;
  cursor: pointer;
  border-radius: 0.3rem;
  border: 1px solid #444444;
  border-bottom-color: #555555;
  box-shadow: 0 0.2em 0 0.05em #222222;
}

.keyboard__key:active {
  position: relative;
  top: 0.2em;
  color: #aaa;
  background: #2a2a2a;
  box-shadow: 0 0 0 0.05em #000000;
}

.keyboard__key--wide {
  flex-grow: 1;
}

.keyboard__key--wide-max {
  flex-grow: 2;
}

.keyboard__key--small {
  width: 3.2rem;
}