@import '@/assets/stylesheets/utils/variables.scss';

.table__row {
  &--active {
    background-color: $main-color--light;
  }
}

.table__title {
  padding: 5px;
  text-align: left;
  font-weight: normal;
  border: 1px solid $main-color;
}

.table__info {
  padding: 5px;
  font-weight: bold;
  color: $green;
  border: 1px solid $main-color;
}
