@import '@/assets/stylesheets/utils/variables.scss';

.header {
  box-sizing: border-box;
  max-width: $desktop-width;
  width: 100%;
  margin: 0 auto;
  background-color: $main-color--darker;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1024px;
  height: 80px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: $main-color--darker;
}

.header__title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 22px;
  color: $main-color--lightest;

  @media (max-width: $tablet-width) {
    font-size: 28px;
  }

  &--more {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}
