// Viewport

$tablet-width: 900px;
$desktop-width: 2520px;

// Colors

$white: #ffffff;
$black: #000000;
$green: #238636;

$main-color--lightest: #c9d1d9;
$main-color--light: #474f59;
$main-color: #30363d;
$main-color--dark: #21262d;
$main-color--darker: #161b22;
$main-color--darkest: #0d1117;
